@import "tailwindcss";

@theme {
  --color-primary: #026E82;
  --color-secondary: #CDB181;
  --color-dark: #1a1a1a;
  --color-light: #fdfaf5;

  --font-accent: "Playfair Display", serif;
  --font-heading: "Montserrat", sans-serif;
}